@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2463EB;
  --primary-light: #BEDBFE;
  --primary-dark: #1a47a8;
  --danger: #CE3A11;
  --danger-dark: #a02e0e;
  --danger-light: #ed4314;
  --warning: #f59e0b;
  --success: #10b981;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #2463EB;
    --primary-light: #BEDBFE;
    --primary-dark: #1a47a8;
    --danger: #CE3A11;
    --danger-dark: #a02e0e;
    --danger-light: #ed4314;
    --warning: #f59e0b;
    --success: #10b981;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
